<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org"> 
<head> 
    <meta charset="UTF-8">
    <title>Veterinarska ambulanta</title> 
    <link rel="stylesheet" th:href="@{/css/style.css}"> 
</head> 
<body> 
    <h1>Veterinarska ambulanta</h1> 
    <nav> 
        <a th:href="@{/web/vlasnici}">Vlasnici</a> 
        <a th:href="@{/web/ljubimci}">Ljubimci</a> 
        <a th:href="@{/web/veterinari}">Veterinari</a> 
        <a th:href="@{/web/usluge}">Usluge</a> 
        <a th:href="@{/web/pregledi}">Pregledi</a> 
    </nav> 
</body> 
</html>